<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<% if Current.user %>
  <p><%= link_to "New post", new_post_path %></p>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
      <% if Current.user %>
        — <%= link_to "Edit", edit_post_path(post) %>
        — <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Really delete?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
